.profile_img {
  border-radius: 90px;
  width: 250px !important;
  height: 300px !important;
}

body {
  background-image: url("background4.jpg");
  background-size: cover;
}

.sm_img{
  border-radius: 75px;
  width: 40px;
  height: 40px;
}
